body {
  background-image: url("./images/helsinki.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Comfortaa', cursive;
}

.landing-title {
  color: #ccc;
}

.dropdown-menu {
  background-color: transparent;
}

.dropdown-item {
  color: #ccc;
}

.dropdown-divider {
  border-color: #aaa;
}
