body {
  background-image: url("./images/helsinki.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Comfortaa', cursive;
}

.landing-title {
  color: #ccc;
  font-size: 6rem;
}

.landing-logo {
  width: 150px;
  height: 150px;
}

.dropdown-menu {
  background-color: transparent;
}

.dropdown-item {
  color: #ccc;
}

.dropdown-divider {
  border-color: #aaa;
}

.custom-btn-class {
  background-color: #000055;
  border-color: #000045;
  border-radius: 10%;
  transition: transform 0.2s, background-color 0.2s;
}

.custom-btn-class:hover {
  background-color: #425c75;
  border-color: #5b7894;
  border-radius: 10%;
  transform: scale(1.05);
}

@media (max-width: 1200px) {
  .landing-title {
    font-size: 5rem;
  }
}

@media (max-width: 992px) {
  .landing-title {
    font-size: 4rem;
  }
  .landing-logo {
    width: 125px;
    height: 125px;
  }
}

@media (max-width: 768px) {
  .landing-title {
    font-size: 3rem;
  }
  .landing-logo {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 576px) {
  .landing-title {
    font-size: 2rem;
  }
}
