body {
  background-image: url("./images/skybg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Comfortaa', cursive;
  color: #aaa;
}

a {
  color: #888;
}

a:hover {
  color: #ccc;
}

hr {
  border-color: #aaa;
}

code {
  color: rgb(179, 213, 241);
  font-size: 1.15em;
}

.dropdown-menu {
  background-color: transparent;
}

.dropdown-item {
  color: #ccc;
}

.dropdown-divider {
  border-color: #aaa;
}

.page-title {
  font-size: 3.5rem;
  text-align: center;
}

.page-logo {
  width: 150px;
  height: 150px;
}

.code-block {
  background-color: #aaa;
  color: #555;
}

code span.function {
  color: #700;
}

code span.string {
  color: #070;
}

.circle-from-square {
  border-radius: 50%;
}

@media (max-width: 1200px) {
  .page-title {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.6rem;
  }
}

@media (max-width: 992px) {
  .page-title {
    font-size: 2.5rem;
  }
  .page-logo {
    width: 125px;
    height: 125px;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.65rem;
  }
  h4 {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .page-title {
    font-size: 2.25rem;
  }
  .page-logo {
    width: 100px;
    height: 100px;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  h3 {
    font-size: 1.3rem;
    font-weight: 700;
  }
  h4 {
    font-size: 1.2rem;
    font-weight: 700;
  }
}

@media (max-width: 576px) {
  .page-title {
    font-size: 2rem;
    font-weight: 700;
  }
  h2 {
    font-size: 1.25rem;
    font-weight: 700;
  }
  h3 {
    font-size: 1.2rem;
    font-weight: 700;
  }
  h4 {
    font-size: 1.1rem;
    font-weight: 700;
  }
}
